#home {
  font-weight: normal;
}

#about {
  color: #f08504;
}

#aboutus-image{
  background-color:burlywood;
  height: 350px;
}

#aboutus-howitworks{
  background-color:yellowgreen;
  height: 40vh;
}

.howitworks-text{
  text-align: center;
}

.process-icon {
  background-color: beige;
  border: 1px solid black;
  height: 150px;
}

#aboutus-faq {
  background-color: cadetblue;
  height: 50vh;
}