#home { 
    font-weight: normal;
}

#contact {
    color: #f08504;
}

.sub-grid {
    display: grid;  /* Make this a grid */
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 10px;  /* Add some space between the columns */
    height: 70vh;
}

#information-unitalent {
    background-color: aquamarine;
}

#message-unitalent {
    background-color: blueviolet;
}

.map-unitalent {
    background-color: burlywood;
    height: 80vh;
}