#home { 
    font-weight: normal;
}

#contact {
    color: #f08504;
}

#information-unitalent {
    background-color: aquamarine;
}

#message-unitalent {
    background-color: blueviolet;
}

.map-unitalent {
    background-color: burlywood;
    height: 80vh;
}