#home {
  font-weight: normal;
}

/* Reset Password Card */
.reset-password-card {
  max-width: 500px;
  margin: 50px auto 0 auto;
  background-color: #fef6ec;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reset-password-card h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Form Layout */
.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reset-password-form .form-group {
  display: flex;
  flex-direction: column;
}

.reset-password-form label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #333;
}

.reset-password-form input {
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Reset Button */
.btn-reset-password {
  background-color: #f08504;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.btn-reset-password:hover {
  background-color: #d27403;
}

/* Login Link */
.login-link {
  text-align: left;
  font-size: 0.9rem;
  margin: 15px auto 50px auto;
  color: gray;
  max-width: 500px; /* Set max-width to match card */
  width: 100%; /* Ensure it takes full width */
}

.login-link a {
  color: #f08504;
  text-decoration: none;
  font-style: italic;
}

.login-link a:hover {
  text-decoration: underline;
}