* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Define 12-column layout */
  grid-template-rows: auto 1fr auto; /* Define rows: header, main, footer */
  gap: 16px; /* Space between grid items */
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Ensure the page takes the full viewport height */
}

.hero-header-container {
  background-image: url(../images/Hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / -1; /* Span full width */
  grid-row: 1; /* Assign to the first row (header) */
  width: 100%;
  margin-bottom: 2.5rem;
}

.hero-header-container-pages {
  grid-column: 1 / -1;
  width: 100%;
  height: 20.75rem;
  grid-row: 1;
  background-color: black;
}

.hero-section {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 32px;
  color: white;
}

.main-container {
  grid-column: 1 / -1; /* Span full width */
  grid-row: 2; /* Assign to the second row (main content) */
  margin-bottom: 24px; /* Consistent spacing between sections */
}

.sub-grid-contactus {
  display: grid;  /* Make this a grid */
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 20px;  /* Add some space between the columns */
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom: 7.1875rem;
  margin-top: 7.1875rem;
}

.sub-grid-jobdetails {
  display: grid;
  grid-template-columns: 2.8fr 1fr;
  gap: 10px;
}

/* jobs 2nd page Hnin */

/* Sub-Grid for Jobs */
.sub-grid-jobs {
  display: grid;
  grid-template-columns: 3fr 9fr; /* Sidebar (3/12) and Listings (9/12) */
  grid-template-rows: auto auto; /* Rows for content and Top Company */
  gap: 30px;
  height: 70vh;
  margin-top: 30px;
}

/* Job Sidebar */
.job-sidebar {
  grid-column: 1 / 2; /* Occupies the first column */
  grid-row: 1; /* First row */
  display: grid;
  grid-template-rows: auto auto; /* Dynamic row height for filters and photo */
  gap: 20px;
}

/* Job Listings */
.job-listings {
  grid-column: 2 / 3; /* Occupies the second column */
  grid-row: 1; /* First row */
  height: auto;
}

/* Top Company Section */
.top-company-section {
  grid-column: 1 / -1; /* Spans all columns */
  grid-row: 2; /* Second row */
}

.top-company-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
  gap: 20px;
}

/* end of 2nd page */



/* About Us */
.howitworks-header {
  display: grid;
  grid-column: 1 / -1;
}
.howitworks-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px 50px 50px 50px;
}

footer {
  grid-column: 1 / -1; /* Span full width */
  grid-row: 3; /* Assign to the third row (footer) */
  margin-bottom: 0;
}
