:root {
  --text-color: #6c757d;
  --text-white: #ffffff;
  --text-orange: #f08504;
  --link-color: #4a76ee;
  --background-color: #fbfbfb;
  --background-fade: #fff2de;
  --background-darkerfade: #ffdfb8;
}
h4 {
  font-weight: 500;
}
#home {
  font-weight: normal;
}

#jobs {
  color: var(--text-orange);
}

.jobdetails {
  grid-column: 1;
  padding: 30px;
}

.joboverview {
  padding: 30px;
}

.sub-grid-jobdetails{
  display: grid;
}

.company-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.company-name {
  padding-left: 10px;
}

.company-name h3{
  font-weight: bold;
}

.postingtime {
  background-color: var(--background-fade);
  border-radius: 20px;
  margin: 3px;
  width: 110px;
  text-align: center;
  color: var(--text-orange);
  font-size: 14px;
}

.company-logo img{
  width: 50px;
}

.summary-icons {
  display: flex;
  justify-content: space-evenly;
}

.summary-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.header-sum-icon-text{
  margin-right: 30px;
  text-align:center;
}

.header-sum-icon {
  margin-right: 10px;
  color: var(--text-orange);
  font-size: 1.3rem;
}

.jobdetails-description {
  margin-bottom: 50px;
}
.jobdetails-responsibilities{
  margin-bottom: 50px;
}
.jobdetails-requirements{
  margin-bottom: 50px;
}

.description-text strong {
  line-height: 2.5rem;
}

.requirements-listing ul{
  padding-left: 30px;
}

.tags-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-box {
  padding: 5px 10px;
  border: 1px solid var(--text-orange);
  border-radius: 15px;
  background-color: var(--background-fade);
  color: var(--text-orange);
  font-size: 14px;
  white-space: nowrap;
}
.tag-box:hover {
  background-color: var(--text-orange);
  color: white;
  cursor: pointer;
}






.apply-button {
  padding: 15px 10px;
  background-color: var(--text-orange);
  border-radius: 15px;
  text-align: center;
  color: var(--background-color);
  white-space: nowrap;
  margin-bottom: 60px;
  margin-top: 120px;
}
.apply-button:hover {
  background-color: #cc7a16;
  cursor: pointer;
}

.joboverview-container{
  background-color: var(--background-fade);
  border-radius: 20px;
  padding: 20px;
}

.joboverview-header{
  font-weight: bold;
  margin-bottom: 20px
}

.joboverview-listing {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}
.joboverview-logo{
  color: var(--text-orange);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  padding-right: 20px;
}


.joboverview-question {
  font-weight: bold;
  font-size: 0.9rem;
}

.joboverview-answer {
  margin-top: 2px;
  color: var(--text-color);
  font-size: smaller;
}

.joboverview-map {
  width: 100%;
}